{
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 1,
	"vueIndentScriptAndStyle": false,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"quoteProps": "consistent"
}
