.breadcam_bg{
    background-image: url(../img/banner/bradcam.png);
}
.breadcam_bg_2{
    background-image: url(../img/banner/bradcam2.png);
}
.bradcam_area{
    padding: 170px;
    
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 269px 0 159px 0;
    @media #{$mobile_device} {
        padding: 150px 0;
    }
    @media #{$tablet_device} {
        padding: 150px 0;
    }
    h3{
        font-size: 60px;
        color: #fff;
        font-weight: 900;
        margin-bottom: 0;
        text-transform: capitalize;
        @media #{$mobile_device} {
            font-size: 30px;
        }
        @media #{$tablet_device} {
            font-size: 40px;
        }
    }
}
.bradcam_area2{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 220px 0 180px 0;
    @media #{$mobile_device}{
        padding: 150px  0;
    }
    .breadcam_text{
        h3{
            font-size: 42px;
            color: #fff;
            font-weight: 400;
            margin-bottom: 50px;
            @media #{$mobile_device} {
                margin-bottom: 20px;
                font-size: 25px;
            }
            @media #{$tablet_device} {
                margin-bottom: 30px;
                font-size: 30px;
            }
        }
    }
    .find_dowmain{
        padding: 0 50px;
        @media #{$mobile_device}{
            padding: 0;
        }
        .find_dowmain_form {
            width: 100%;
            position: relative;
            input{
                width: 100%;
                height: 60px;
                background: #fff;
                font-size: 16px;
                color: #000;
                font-weight: 400;
                border: 0;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                padding: 20px;
                width: 70%;
                float: left;
                @media #{$mobile_device}{
                    height: 50px;
                }
                &::placeholder{
                    color: #919191;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            button{
                background: #670080;
                width: 30%;
                float: right;
                height: 60px;
                border: none;
                color: #fff;
                font-weight: 400;
                text-transform: capitalize;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                cursor: pointer;
                @media #{$mobile_device}{
                    height: 50px;
                }
            }
        }
    }
}



.popup_box{
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%,-50%);
    background: #fff;
    display: inline-block;
    width: 558px;
    padding: 60px 40px;
    border-radius: 5px;
    z-index: 9;
    @media #{$mobile_device} {
        width: 320px;
        padding: 45px 30px;
    }
    @media #{$large_mobile} {
        width: 420px !important;
        padding: 45px 30px;
    }
    .logo {
        margin-bottom: 50px;
        @media #{$mobile_device}{
            margin-bottom: 30px;
        }
    }
    h3 {
        font-size: 24px;
        color: #1F1F1F;
        margin-bottom: 30px;
        text-align: left;
        @media #{$mobile_device}{
            margin-bottom: 15px;
        }
    }
    .boxed-btn3{
        width: 100%;
        text-transform: capitalize;
    }
    .boxed_btn_green{
        width: 100%;
    }
    .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: #fff;
        /* border-radius: 5px; */
        border: solid 1px #E2E2E2;
        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: block;
        float: left;
        font-family: $font1;
        font-weight: normal;
        width: 100% !important;
        /* height: 42px; */
        line-height: 50px;
        outline: none;
        padding-left: 18px;
        padding-right: 30px;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: auto;
        border-radius: 0;
        margin-bottom: 30px;
        height: 50px !important;
        font-size: 16px;
        font-weight: 400;
        color: #919191;
        &::after {
            content: "\f0d7";
            display: block;
            height: 5px;
            margin-top: -5px;
            pointer-events: none;
            position: absolute;
            right: 17px;
            top: 3px;
            transition: all 0.15s ease-in-out;
            width: 5px;
            font-family: fontawesome;
            color: #919191;
            font-size: 15px;
        }
        &.open .list {
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            height: 200px;
            overflow-y: scroll;
        }
        &.list {
            height: 200px;
            overflow-y: scroll;
        }
    }
    .doen_have_acc {
        font-size: 16px;
        color: #727272;
        margin-top: 33px;
        font-weight: 400;
        a{
            color: #0181F5;
        }
    }
}
#test-form,#test-form2 {
    display: inline-block;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform (translate(-50%,-50%));
    @media #{$mobile_device}{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transform (none);
    }
    .mfp-close-btn-in .mfp-close {
        color: #333;
        display: none !important;
    }
    button{
        &.mfp-close{
            display: none !important;
            @media #{$mobile_device} {
                display: block !important;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    button.mfp-close {
        overflow: visible;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        display: block;
        outline: none;
        padding: 0;
        z-index: 1046;
        box-shadow: none;
        touch-action: manipulation;
        width: 40px;
        height: 40px;
        background: #4A3600;
        text-align: center;
        line-height: 20px;
        position: absolute;
        right: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        right: -6px;
        color: #fff !important;
    }
}

.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #2E004B;
	opacity: 0.8;
}

.gj-picker.gj-picker-md.datepicker.gj-unselectable {
    @media #{$mobile_device} {
        // width: 320px;
        // left: 0 !important;
    }

}
.gj-picker.gj-picker-md.timepicker {
    @media #{$mobile_device} {
        width: 310px;
        left: 6px !important;
    }

}
.gj-picker.gj-picker-md.datepicker.gj-unselectable {
    @media #{$mobile_device} {
        width: 320px;
        left: 0 !important;
    }
}