.boxed-btn {
	background: #fff;
	color: $theme-color4;
	display: inline-block;
	padding: 18px 44px;
	font-family: $font1;
	font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid $theme-color4;
    letter-spacing: 3px;
    // width: 180px;
    text-align: center;
    color: $theme-color4 !important;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background: $theme-color4;
        color: #fff !important;
        border: 1px solid $theme-color4;
    }
    &:focus{
        outline: none;
    }
    &.large-width{
        width: 220px;
    }
}
.boxed-btn3 {
	background: $theme-color4;;
	color: #fff;
	display: inline-block;
	padding: 12px 27px;
	font-family: $font1;
	font-size: 16px;
    font-weight: 400;
    border: 0;
    border: 1px solid $theme-color4;
    // width: 180px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    @include transition(.5s);
    cursor: pointer;
    &:hover{
        background: #fff;
        color: $theme-color4 !important;
        border: 1px solid $theme-color4;
    }
    &:focus{
        outline: none;
    }
    &.large-width{
        width: 220px;
    }
}
.boxed-btn2 {
	background: transparent;
	color: #fff;
	display: inline-block;
	padding: 18px 24px;
	font-family: $font1;
	font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover{
        background: #fff;
        color: #131313 !important;
    }
    &:focus{
        outline: none;
    }
}
.line-button{
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding-right: 5px;
    padding-bottom: 2px;
    &::before{
        position: absolute;
        content: "";
        background: #919191;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
    }
    &:hover{
        color: #009DFF;
    }
    &:hover::before{
        background: #009DFF;
    }
}
.book_now{
    display: inline-block;
    font-size: 14px;
    color: #009DFF;
    border: 1px solid #009DFF;
    text-transform: capitalize;
    padding: 10px 25px;
    &:hover{
        background: #009DFF;
        color: #fff;
    }
}

.boxed_btn_green {
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	padding: 12px 30px;
    background: #00D363;
    @include border-radius(30px);
    border: 1px solid transparent;
    display: inline-block;
    @include transition(.3s);
    &:hover{
        background: transparent ;
        color: #00D363;
        border: 1px solid #00D363;
        color: #00D363 !important;
    }
}

.boxed_btn_green2 {
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	padding: 12px 30px;
    @include border-radius(30px);
    border: 1px solid transparent;
    @include transition(.3s);
    background: transparent ;
    color: #00D363;
    border: 1px solid #00D363;
    display: inline-block;
    &:hover{
        color: #fff !important;
        background: #00D363;
    }
}