.footer{
    background: #2E004B;
    .footer_top{
        padding-top: 145px;
        padding-bottom: 129px;
        @media #{$mobile_device} {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .footer_widget{
            @media #{$mobile_device} {
                margin-bottom: 30px;
            }
            @media #{$tablet_device} {
                margin-bottom: 30px;
            }
            .footer_title{
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            .footer_logo{
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            p.footer_text{
                font-size: 16px;
                color: #B2B2B2;
                margin-bottom: 23px;
                font-weight: 400;
                line-height: 28px;
                a.domain{
                    color: #B2B2B2;
                    font-weight: 400;
                    &:hover{
                        color: #00D363;
                        border-bottom: 1px solid #00D363
                    }
                }
                &.doanar{
                    a{
                    font-weight: 500;
                    color: #B2B2B2;
                    
                    &:hover{
                        color: #00D363;
                        border-bottom: 1px solid #00D363
                    }
                    &.first{
                        margin-bottom: 10px;
                    }
                    }

                }
            }
            ul{
                li{
                    a{
                        font-size: 16px;
                        color: #BABABA;
                        line-height: 42px;
                        &:hover{
                            color: #00D363;
                        }
                    }
                }
            }
            .newsletter_form{
                position: relative;
                margin-bottom: 20px;
                input{
                    width: 100%;
                    height: 45px;
                    background: #fff;
                    padding-left: 20px;
                    font-size: 16px;
                    color: #000;
                    border: none;
                    &::placeholder{
                        font-size: 16px;
                        color: #919191;
                    }
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    border: none;
                    font-size: 14px;
                    color: #fff;
                    background: #00D363;
                    padding: 10px;
                    padding: 0 22px;
                    cursor: pointer;
                }
            }
            .newsletter_text{
                font-size: 16px;
                color: #BABABA;
            }
        }
    }
    .copy-right_text{
        padding-bottom: 30px;
        .footer_border{
            border-top: 1px solid rgba(255, 255,255, .2);
            padding-bottom: 30px;
        }
        .copy_right{
            font-size: 16px;
            color:#919191;
            margin-bottom: 0;
            font-weight: 400;
            @media #{$mobile_device} {
                font-size: 14px;
            }
            a{
                color: #00D363;
            }
        }
    }
    .socail_links{
        @media #{$mobile_device} {
            margin-top: 30px;
        }
        ul{
            li{
                display: inline-block;

                a{
                 color: #A8A7A0;
                 margin: 0 10px;
                 font-size: 15px;
                 &:hover{
                     color: #fff;
                 }
                }
            }
        }
    }
}
