.launch_bg_1{
    background-image: url(../img/banner/launch.png);
}
.lets_launch{
    padding: 180px 0;
    @media #{$mobile_device}{
        padding: 100px 0;
    }
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .launch_text{
        h3{
            font-size: 42px;
            color: #FFFFFF;
            @media #{$mobile_device}{
                font-size: 30px;
            }
        }
        p{
            font-size: 16px;
            color: #fff;
            font-size: 16px;
            color: #fff;
            margin-top: 28px;
            margin-bottom: 44px;
            br{
                @media #{$mobile_device}{
                    display: none;
                }
            }

        }
        .chat{
            a{
                margin: 0 10px;
                @media #{$mobile_device}{
                    margin:10px 0;
                }
            }
            .boxed_btn_green2{
                color: #fff !important;
                border-color: #fff !important;
                text-transform: capitalize;
                font-size: 18px;
                padding: 10px 40px;
                &:hover{
                    border-color: #00D363 !important;
                }
            }
        }
    }
}