.section_title{
    h3{
        font-size: 42px;
        font-weight: 400;
        line-height: 52px;
        color: $theme-color4;
        @media #{$mobile_device} {
            font-size: 23px;
            line-height: 30px;
        }
        @media #{$tablet_device} {
            font-size: 32px;
            line-height: 40px;
        }
        @media #{$mid_device} {
            font-size: 33px;
            line-height: 40px;
        }
    }
    p{
        font-size: 16px;
        font-family: $font1;
        font-weight: 400;
        line-height: 28px;
        color: #919191;
        margin-bottom: 0;
        br{
            @media #{$mobile_device}{
                display: none;
            }
        }
    }
}
.mb-100{
    margin-bottom: 100px;
    @media #{$mobile_device} {
        margin-bottom: 40px;
    }
}
