.slider_bg_1{
    background-image: url(../img/banner/banner.png);
}
.slider_area{
    .single_slider{
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;

        .slider_text{
            h3{
            color: #ffffff;
            font-size: 60px;
            text-transform: capitalize;
            font-weight: 400;
            line-height: 70px;
            margin-bottom: 50px;
            margin-top: 10px;
             @media #{$mobile_device} {
               font-size: 24px;
               letter-spacing: 0px;
               line-height: 35px;
            }
             @media #{$tablet_device} {
               font-size: 30px;
               line-height: 46px;
            }
             @media #{$mid_device} {
               font-size: 35px;
               line-height: 45px;
            }
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #00D363;
                margin-bottom: 0;
                margin-top: 0;
                display: inline-block;
                position: relative;
             @media #{$mid_device} {
                font-size: 16px;
             }
             @media #{$mobile_device} {
                font-size: 13px;
             }
            }
        }
    } 
    .find_dowmain{
        padding: 0 50px;
        @media #{$mobile_device}{
            padding: 0;
        }
        .find_dowmain_form {
            width: 100%;
            position: relative;
            input{
                width: 100%;
                height: 60px;
                background: #fff;
                font-size: 16px;
                color: #000;
                font-weight: 400;
                border: 0;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                padding: 20px;
                width: 70%;
                float: left;
                &::placeholder{
                    color: #919191;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            button{
                background: #670080;
                width: 30%;
                float: right;
                height: 60px;
                border: none;
                color: #fff;
                font-weight: 400;
                text-transform: capitalize;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                cursor: pointer;
            }
        }
    }

}