
@import 'varriable.scss';
@import 'mixins.scss';
@import 'extend';
@import 'responsive.scss';
@import 'reset';
@import 'btn';
@import 'section_title';
@import 'slick-nav.scss';



// header
@import 'header';

// slider
@import 'slider';
// prising
@import 'prising';
// launch
@import 'launch';
// news
@import 'news';
// features
@import 'features';
// support
@import 'support';

// faq
@import 'faq';

// gallery
@import 'gallery';

// about
@import 'about';
// search_result
@import 'search_result';

// footer
@import 'footer';

// bradcam
@import 'bradcam';




// other pages default

// contact
@import 'contact';

// elements
@import 'elements.scss';

// blog
@import 'blog';


// blog part
@import 'blog_part';

